<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="masmag" translate="label" sortOrder="10">
            <label>MasMag - Nightmare</label>
        </tab>
        <section id="promo_message" translate="label" sortOrder="180" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Promo Message</label>
            <tab>masmag</tab>
            <resource>MasMag_PromoMessage::promo_message</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Attiva</label>
                    <comment>Abilita il messaggio della promo</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="promo_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Promo Configurazione</label>
                <field id="quote_value" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Valore promo carrello</label>
                    <comment>Inserire il valore numerico (massimo) per il free-shipping</comment>
                </field>
            </group>
        </section>
    </system>
</config>
